.navbar {
  width: 100%;
  padding: 3px 0;
  top: 0;
  left: 0;
  position: sticky;
  background-color: #fffffe36;
  backdrop-filter: blur(20px);
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 0;
}

.nav-link li {
  list-style: none;
  padding: 10px 15px;
}

.nav-link li:hover {
  cursor: pointer;
}

.nav-link a {
  text-decoration: none;
  letter-spacing: 3px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}