@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,600;1,700;1,800&display=swap');
html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  color: #222222;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, p {
  padding: 0px;
  margin: 10px 0;
}

.flex-col {
  display: flex;
  flex-flow: column;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

.flex-row-warp {
  display: flex;
  flex-flow: row wrap;
}

/* On screens that are 992px or less, set the background color to blue */

/* @media screen and (max-width: 992px) {
  body {
    background-color: blue;
  }
} */

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 600px) {
  .flex-row {
    display: flex;
    flex-flow: column;
  }
  .flex-row-warp {
    display: flex;
    flex-flow: column wrap;
  }
}